.f10 {
  font-size: 10PX;
}
.f11 {
  font-size: 11PX;
}
.f12 {
  font-size: 12PX;
}
.f13 {
  font-size: 13PX;
}
.f14 {
  font-size: 14PX;
}
.f15 {
  font-size: 15PX;
}
.f16 {
  font-size: 16PX;
}
.f17 {
  font-size: 17PX;
}
.f18 {
  font-size: 18PX;
}
.f19 {
  font-size: 19PX;
}
.f20 {
  font-size: 20PX;
}
.f21 {
  font-size: 21PX;
}
.f22 {
  font-size: 22PX;
}
.f23 {
  font-size: 23PX;
}
.f24 {
  font-size: 24PX;
}
.f26 {
  font-size: 26PX;
}
.f28 {
  font-size: 28PX;
}
.f30 {
  font-size: 30PX;
}
.f32 {
  font-size: 32PX;
}
.f34 {
  font-size: 30PX;
}